[Unit]
Description=Special Cleanup Before File System Unmount During Shutdown/Reboot
DefaultDependencies=no
Before=umount.target
Conflicts=suspend.target hibernate.target suspend-then-hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/deepin-sys-shutdown.sh
RemainAfterExit=no
TimeoutStopSec=10
StandardOutput=journal
StandardError=journal

# Security Configuration
ProtectSystem=strict
ProtectHome=yes
#can't use PrivateTmp=yes,will depend on tmp.mount and cannot be started when shutting down
#PrivateTmp=yes
PrivateNetwork=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes

# Allow writing to specific paths,because we need to call hwclock
ReadWritePaths=/etc/adjtime

[Install]
WantedBy=poweroff.target reboot.target
